---
interface Props {
	data: {
		title: string;
		items: { amount?: string; name: string; note: string }[];
	}[];
}

const { data } = Astro.props;

const display_switch = data.length === 1;
---

<section>
  <h2>Zutaten</h2>
  {display_switch === true ? <ul>
    {
      data[0].items.map((ingredient) => (
        <li>
        <div>
        {ingredient.name}
        {ingredient.note && <span class="note">({ingredient.note})</span>}
        </div>
        <div>
        {ingredient.amount}
        </div>
        </li>
      ))
    }
  </ul> : data.map((item) => <div class="group">
    <h3>{item.title}</h3>
    <ul>
      {
        item.items.map((ingredient) => (
          <li>
            <div>
            {ingredient.name}
            {ingredient.note && <span class="note">({ingredient.note})</span>}
            </div>
            <div>
            {ingredient.amount}
            </div>
          </li>
        ))
      }
    </ul>
  </div>)}

</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  h2 {
    font-size: clamp(1rem, 2.5vw + 1rem, 1.75rem);
  }

  h3 {
      padding-block-end: var(--size-1);
  }

  ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
  }

  li {
      display: grid;
      grid-template-columns: 1fr minmax(80px,auto);
      border-bottom: 1px solid var(--hover);
      padding-block: var(--size-1);
  }

  li >:first-child {
      text-align: left;
  }

  li >:last-child {
      text-align: right;
  }

  .note {
      color: gray;
      font-size: var(--size-3);
  }
</style>
