---
interface Props {
	data: {
		title: string;
		items: { amount?: string; name: string }[];
	}[];
}

const { data } = Astro.props;

const display_switch = data.length === 1;
---

<section>
  <h2>Zutaten</h2>
  {display_switch === true ? <ul>
    {
      data[0].items.map((ingredient) => (
        <li>
          {ingredient.amount && <span>{ingredient.amount}</span>}
          <span>{ingredient.name}</span>
        </li>
      ))
    }
  </ul> : data.map((item) => <div>
    <h3>{item.title}</h3>
    <ul>
      {
        item.items.map((ingredient) => (
          <li>
            {ingredient.amount && <span>{ingredient.amount}</span>}
            <span>{ingredient.name}</span>
          </li>
        ))
      }
    </ul>
  </div>)}

</section>

<style>
  section {
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    background-color: var(--accent);
    border-radius: var(--radius);
    height: max-content;
  }

  h2 {
    font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
  }

  h3 {
    font-size: clamp(0.875rem, 2.3vw + 0.75rem, 1.5rem);
  }

  div {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
  }

  ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  li {
      display: flex;
      gap: var(--size-2);
  }

  li >:first-child {
      flex-shrink: 0;
  }

  li >:last-child {

  }
</style>
